body {
    background:  rgb(39, 176, 194);
    font: normal 15pt Arial;
}
 header{
    color: white;
    text-align: center;
 }

 section{
    background: white ;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 13px 10px 10px rgb(148, 21, 5);
}

footer{
    color: rgb(21, 1, 53);
    text-align: center;
    font: italic;

}
 .imagem {
    width:  55%;
    height: 55%;

}
 #res{
    color: rgb(116, 10, 238);
    text-align: center;
    font: italic;
 }
 img {
    width:  55%;
    height: 55%;

 }
  #çp{ 
    border: none;
    width: 50px;
  }